* {
    box-sizing: border-box;
}


.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    background-color: #007700;
    padding: 20px;
}

.controlRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

html, body {
    height: 100%;
    margin: 0;
}
.dice {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.field {
background-color: white;
border: 3px solid black;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
font-weight: bold;
height: 100%;
aspect-ratio: 1 / 1;
}

.field.disabled {
    background-color: gray;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

.callField {
    background-color: white;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.clickable {
    cursor: pointer;    
}
.field.covered {
    background-color: black;
    color: white;
}

/*This depends on the cascade to remove flexed elements*/
.hidden {
    display: none;
}